################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs/QuickXmlWrite/v15
/QuickXmlWrite/bin/Debug
/QuickXmlWrite/obj/Debug
/QuickXmlWrite.Tests/bin/Debug
/QuickXmlWrite.Tests/obj/Debug
